<h1>Hello Greenwich Vietnam</h1>
<h2>We are from IT department</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/srlBwxXLyhk" title="YouTube video player"
   frameborder="0"
   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
   allowfullscreen></iframe>
<img src="https://greenwich.edu.vn/wp-content/uploads/2022/10/Welcome-1.jpg" alt="">
